@import 'abstracts/fonts';
@import 'abstracts/colors';
.creating-application {
  display: flex;
  background-color: $background-color;
  &__instagram {
    width: 82px;
    height: 707px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $main-font;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: $main-color;
    cursor: pointer;
    -webkit-writing-mode: vertical-rl;
    span {
      margin-top: 10px;
      letter-spacing: -1px;
    }
    @media screen and (max-width: 500px) {
      display: none;
    }
  }
  &__content {
    display: inline-block;
    width: 100%;
    height: 707px;
    background-image: url(assets/images/img-creating-application.png);
    background-size: cover;
    padding-left: 4%;
    &-caption {
      margin-top: 194px;
      margin-bottom: 35px;
      font-family: $caption-font;
      font-style: normal;
      font-weight: normal;
      font-size: 34px;
      line-height: 53px;
      text-transform: uppercase;
      color: $white;
      width: 500px;
      span {
        color: $main-color;
      }
      @media screen and (max-width: 500px) {
        font-size: 23px;
        line-height: 135.84%;
        width: 375px;
        margin: 85px auto 16px auto;
      }
    }
    &-text {
      font-family: $text-font;
      font-size: 22px;
      line-height: 30px;
      color: $white;
      width: 425px;
      text-align: left;
      margin-bottom: 41px;
      @media screen and (max-width: 500px) {
        font-size: 18px;
        line-height: 135.84%;
        width: 375px;
        margin: 0 auto 32px auto;
      }
    }
    &-button {
      width: 207px;
      height: 51px;
      display: inline-block;
      margin-right: 20px;
      border: 1px solid #FFFFFF;
      box-sizing: border-box;
      border-radius: 2px;
      text-align: center;
      color: $white;
      font-family: $main-font;
      font-size: 13px;
          line-height: 51px;
      &:hover {
        background: $main-color;
        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
        cursor: pointer;
        border: 0;
      }
      @media screen and (max-width: 500px) {
        width: 338.61px;
        height: 51px ;
        margin: 0 auto 26px auto;
        display: block;
      }
    }
    @media screen and (max-width: 500px) {
      height: 476px;
      padding-left: 0;
    }
  }
  &__scroll {
    width: 247px;
    height: 97px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background-color;
    align-self: flex-end;
    font-family: $caption-font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: $white;
    svg {
      margin-left: 20px;
      cursor: pointer;
    }
    @media screen and (max-width: 500px) {
      display: none;
    }
  }
  @media screen and (max-width: 375px) {
    width: 375px;
  }
}

.completed-projects {
  width: 100%;
  height: 1074px;
  display: flex;
  flex-direction: row;
  background-color: $background-color;

  &__description {
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 1200px) {
      height: auto;

    }

    &-block {
      height: 220px;
      width: 30.6vw;
      margin: 176px 50px 20px 7vw;
      img {
        display: none;
      }

      @media screen and (max-width: 1200px) {
        width: 375px;
        height: auto;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
          display: inherit;
          width: 340px;
          height: 240px;
        }
      }
    }
    &-caption {
      margin-bottom: 34px;
      font-family: $caption-font;
      font-style: normal;
      font-weight: normal;
      font-size: 27px;
      line-height: 37px;
      letter-spacing: -0.07em;
      text-transform: uppercase;
      color: $main-color;

      span {
        letter-spacing: -2px;
        margin-left: 36px;
        @media screen and (max-width: 1200px) {
          display: none;
        }
      }
      @media screen and (max-width: 1200px) {
        font-size: 22px;
        line-height: 138.6%;
        text-align: center;

      }
    }

    &-text {
      font-family: $text-font;
      font-size: 18px;
      line-height: 29px;
      color: $white;
      width: 30vw;
      @media screen and (max-width: 1200px) {
        font-size: 14px;
        line-height: 158.48%;
        width: 314px;
        text-align: center;
      }
    }
    &-list {
      height: 170px;
      width: 30.6vw;
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 0 50px 0 7vw;
      &_caption {
        font-family: $caption-font;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        text-transform: uppercase;
        color: $main-color;
        @media screen and (max-width: 1200px) {
          font-size: 14px;
          line-height: 138.6%;
        }
      }
      &_text {
        font-family: $text-font;
        font-size: 15px;
        line-height: 20px;
        color: $white;
        @media screen and (max-width: 1200px) {
          font-size: 14px;
          line-height: 19px;
        }
      }
      @media screen and (max-width: 1200px) {
        width: 341px;
        height: 146px;
        margin: 0 auto;
      }
    }
    &-controls {
      height: 93px;
      width:252px;
      margin-top: 56px;
      background-image: url(assets/images/img-description-controls.png);
      background-repeat: no-repeat;
      margin-left: 7vw;
      cursor: pointer;
      @media screen and (max-width: 1200px) {
      display: none;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    @media screen and (max-width: 1200px) {
      display: none;
    }
    &-arrow {
      position: absolute;
      margin-top: 350px;
      right: 1vw;
      display: none;
      @media screen and (max-width: 375px) {
        display: none;
      }
    }
    &-navigation {
      height: 24px;
      width: 45vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 107px;
      margin-bottom: 45px;
      font-family: $caption-font;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.3);
      li {
        &:hover {
          color: $main-color;
          border-bottom: 1px solid $main-color;
          cursor: pointer;
      }
      }
      @media screen and (max-width: 1200px) {
        display: none;
      }
    }

    &-images {
      height: 482px;
      width: 75vw;
      overflow: hidden;
      &_overflow {
        width: 107vw;
      }
      img {
        width: 48vw;
        margin-right: 1vw;
        @media screen and (max-width: 1200px) {
          width: 40vw;
          margin: 0 auto;
          &:nth-child(1) {
            display: none;
          }
        }
      }
      @media screen and (max-width: 375px) {
        width: 340px;
        height: 241px;
        margin: 0 auto;
      }
    }
  }

  @media screen and (max-width: 1200px) {
    justify-content: center;
    padding-top: 30px;
    height: 900px;
  }
  @media screen and (max-width: 835px) {
    height: auto;
  }
}

.offline-control {
  display: flex;
  flex-direction: column;
  height: 700px;
  width: 100%;
  align-items: center;
  justify-content: space-between;;
  background-color: $white;

  &__caption {
    height: 67px;
    width: 196px;
    margin-top: -325px;
    font-family: $caption-font;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    span {
      letter-spacing: -1px;
      color: $main-color;
    }
    @media screen and (max-width: 835px) {
      margin: 0 auto;
    }
  }
  &__line {
    letter-spacing: -1px;
    color: $main-color;
    text-align: center;
  }
  &__video {
    background: rgba(0, 0, 0, 0.8);
    svg {
      position: absolute;
      left: 43%;
      margin-top: 133px;
      @media screen and (max-width: 835px) {
      width: 37px;
      height: 37px;
      left: 47%;
      margin-top: 100px;
      }
    }
    video {
      height: 434px;
      width: 817px;
      @media screen and (max-width: 835px) {
        margin: 0 auto;
        width: 340px;
        height: 241px;
      }
    }
  }
  &__description {
    width: 681px;
    font-family: $text-font;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    color: $black;
    @media screen and (max-width: 835px) {
      margin: 0 auto;
      width: 340px;
      color: $white;
      font-size: 14px;
    }
  }
  &__inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 769px;
    margin-bottom: 122px;
    &-submit {
      width: 200px;
      height: 50px;
      background-color: $main-color;
      font-family: $main-font;
      font-size: 15px;
      line-height: 50px;
      text-align: center;
      text-transform: uppercase;
      color: $white;
      border-radius: 2px;
      @media screen and (max-width: 835px) {
        width: 340px;
        order: 1;
        margin-top: 30px;
      }
    }
    &-checkbox {
      display: block;
      width: 285px;
      margin: 30px auto 0 auto;
      font-family: $text-font;
      font-size: 16px;
      line-height: 22px;
      input {
        background-color: $main-color;
        color: $white;
      }
      @media screen and (max-width: 835px) {
        color: white;
      }
    }
    @media screen and (max-width: 835px) {
      flex-direction: column;
      align-items: center;
      height: 311px;
    }
  }
  &__input {
    label {
      display: block;
      font-family: $text-font;
      font-size: 15px;
      line-height: 20px;
      color: rgba(54, 54, 54, 0.5);
    }
    input {
      display: block;
      width: 200px;
      font-family: $text-font;
      font-size: 18px;
      line-height: 24px;
      color: $black;
      border: 0;
      border-bottom: 1px solid rgba(54, 54, 54, 0.5);
      @media screen and (max-width: 835px) {
        width: 340px;
        color: $white;
        background-color: $background-color;
      }
    }
  }
  @media screen and (max-width: 835px) {
    background-color: $background-color;
    height: 725px;
  }
}

.repairs-type {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: $white;

  &__caption {
    height: 67px;
    width: 196px;
    margin-top: 58px;
    font-family: $caption-font;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: $black;
    span {
      letter-spacing: -1px;
      color: $main-color;
    }
    @media screen and (max-width: 835px) {
      margin: 0 auto;
      margin-top: 58px;
    }
  }

  &__content {
    height:608px;
    width:86vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media screen and (max-width: 835px) {
      margin: 0 auto;
      flex-direction: column;
      width: 340px;
      height: auto;
    }
    &-block {
      width: 32%;
      @media screen and (max-width: 835px) {
        width: 100%;
      }
      img {
        width: 100%;
      }
      &_list {
        background-color: $white;
        font-family: $caption-font;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        margin-top: -50%;
        padding: 10%;
        padding-bottom: 20%;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
        ul {
          font-family: $text-font;
          font-size: 15px;
          line-height: 25px;
          color: #959595;
        }
      }
    }
    &-button {
      width: 228px;
      height: 54px;
      background-color: $main-color;
      color: $white;
      text-align: center;
      line-height: 54px;
      font-family: $caption-font;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      text-transform: uppercase;
      margin-left: 10%;
      margin-top: -27px;
      margin-bottom: 50px;
    }
  }
}
.consultation {
  height: 988px;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: $white;
  &__list {
    height: 728px;
    width: 57%;
    font-family: $list-font;
    font-size: 18px;
    line-height: 21px;
    color: $black;
    margin-left: 26%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    li {
      span {
        font-family: $caption-font;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: $white;
        background-color: $main-color;
        border-radius: 7em;
        padding: 0.4em;
        margin-right: 21px;
      }
    }
  }

  &__request {
    height: 618px;
    width: 509px;
    margin-right: 99px;
    margin-left: auto;
    margin-top: 107px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: $background-color;
    &-caption {
      font-family: $main-font;
      font-size: 20px;
      line-height: 25px;
      text-align: center;
      color: $white;
      width: 230px;
    }
    &-discount {
      background-color: $white;
      height: 72px;
      width: 441px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      img {
        display: inline-block;
        height: 72px;
        width: 72px;
      }
      div {
        display: inline-block;
        line-height: 25px;
        font-family: $main-font;
        font-size: 20px;
        color: $main-color;
        text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
      }
    }
    &-input {
      label {
        display: block;
        font-family: $text-font;
        font-size: 15px;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.5);
      }
      input {
        display: block;
        width: 273px;
        font-family: $list-font;
        font-size: 18px;
        line-height: 25px;
        color: $white;
        border: 0;
        border-bottom: 1px solid rgba(54, 54, 54, 0.5);
        background-color: $background-color;
      }
    }
    &-call {
      width: 213px;
      height: 51px;
      background-color: $main-color;
    }
    &-checkbox {
      font-family: $text-font;
      font-size: 16px;
      line-height: 22px;
      color: $white;
    }
  }
}
.fashion {
  height: 864px;
  width: 100%;
  display: flex;
  background-color: pink;
  justify-content: space-around;
  align-items: center;
  &__list {
    height: 516px;
    width: 299px;
    background-color: yellow;
    &-caption {
      height: 66px;
      width: 411px;
      background-color: gray;
    }
  }
  &__images {
    width: 753px;
    height: 1019px;
    background-color: orange;
  }
}
.design-project {
  width: 100%;
  height: 620px;
  background-color: green;
  &__caption {

    height: 163px;
    margin-top: 149px;
    background-color: red;
    margin-bottom: 41px;
  }
  &__choice {
    display: flex;
    justify-content: space-evenly;
    &-content {
      img {
        width: 421px;
        height: 392px;
        background-color: black;
      }
    }
    &-button {
      width: 228px;
      height: 54px;
      background-color: orange;
    }
    &-mini {
      width: 330px;
      height: 203px;
      background-color: pink;
    }
    &-standart {
      width: 330px;
      height: 284px;
      background-color: pink;
    }
    &-full {
      width: 330px;
      height: 412px;
      background-color: pink;
    }
  }
}
.goal-steps {
  width: 100%;
  height: 1115px;
  background-color: gray;

}
.our-team {
  width: 100%;
  height: 1115px;
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  &__persons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  &__person {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-icon {
      width:70px;
      height: 70px;
      position: absolute;
      margin: -35px 0 0 -135px;
      background-color: white;
    }
    &-foto {
      width:272px;
      height: 357px;
      background-color: orange;
    }
    &-description {
      width:233px;
      height: 137px;
      position: absolute;
      margin-top: 270px;
      background-color: pink;
    }
  }
  &__caption {
    &-top {
      width:476px;
      height: 148px;
      background-color: green;
      align-self: center;
    }
    &-botton {
      width:558px;
      height: 136px;
      background-color: green;
      align-self: center;
    }
  }
}
.our-clients {
  width: 100%;
  height: 892px;
  background-color: orange;
}
.questions {
  width: 883px;
  height: 445px;
  background-color: pink;
  margin: 0 auto;
}
.position {
  width: 100%;
  height: 730px;
  background-color: green;
}
